accelerate<0.16
torch
torchvision
transformers<4.27
diffusers[torch]<0.11
albumentations<1.4
einops
pytorch-lightning
tensorboard
safetensors
toml
voluptuous
requests
timm<0.7
fairscale<0.5
xformers
nvidia-cudnn-cu11
ipdb
triton
